<a href="https://colab.research.google.com/github/gomong0304/Python25Study/blob/master/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=0o177
print(a)

127

In [ ]:
a=0x8ff
b=0xABC
print(b)

2748

In [ ]:
a=3
b=4
a+b
a-b
a*b
a/b

12

In [ ]:
a=3
b=4
a**b

81

In [ ]:
7%3

1

In [ ]:
a=1
a=a+1
print(a)

2

In [ ]:
a=1
a-=1
print(a)
# a = a - 1 과 같음

0

In [ ]:
# 따옴표로 둘러싸여 있으면 모두 문자열
"Hello World"
'Python is fun'
"""Life is too short, You need python"""
'''Life is too short, You need python'''
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [ ]:
say = '"Python is very easy." he says'
say

'"Python is very easy." he says'

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says"
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says

In [ ]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

In [ ]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
# 셀에서 변수만 적으면: Jupyter/REPL이 그 값의 공식 표현(repr) 을 출력합니다.
# 그래서 \n 같은 이스케이프가 그대로 보임 → 'Life is too short\nYou need python'.
# print()를 쓰면: 문자열의 내용(str) 을 표준출력으로 찍습니다. \n이 실제 줄바꿈으로 해석

In [ ]:
multiline='''
  Life is too short
  You need python
  '''
print(multiline)

  Life is too short
  You need python

In [ ]:
# 문자열 연산
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [ ]:
# 문자열 곱하기
a="Python"
a*2

'PythonPython'

In [ ]:
# 문자열 곱하기 응용하기
# multistring.py
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [ ]:
# 문자열 길이 구하기
a="Life is too short"
len(a)

17

In [ ]:
# 문자열 인덱싱과 슬라이싱
# 인덱싱(indexing)이란 무엇인가를 '가리킨다', 슬라이싱(slicing)은 무엇인가를 '잘라 낸다'라는 의미
a="Life is too short, You need Python"
print(a[5])
# 파이썬은 0부터 숫자를 센다
print(a[0])
# 문자열을 뒤에서부터 읽기 위해 -(빼기) 기호를 붙인 것
print(a[-5])

y

In [ ]:
# 문자열 스라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [ ]:
a = "Life is too short, You need Python"
a[0:4]
# 0 <= a < 4

'Life'

In [ ]:
a[0:5]

'Life '

In [ ]:
a[0:2]

'Li'

In [ ]:
a[5:7]

'is'

In [ ]:
a[12:17]

'short'

In [ ]:
a[19:]

'You need Python'

In [ ]:
a[:17]

'Life is too short'

In [ ]:
a[:]

'Life is too short, You need Python'

In [ ]:
# 슬라이싱으로 문자열 나누기
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
year = a[:4]
day = a[4:8]
print(date)
print(weather)
print(year)
print(date)

20230331
Rainy
2023
20230331

In [ ]:
# 문자열 포매팅 -> 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해 주는 것
# %d는 '문자열 포맷 코드'
"I eat %d apples." %3

'I eat 3 apples.'

In [ ]:
# 문자열 바로 대입
# %s는 문자열 포맷 코드 (문자열을 대입할 때는 반드시 큰따옴표나 작은따옴표를 써야한다)
"I eat %s apples." % "five"

'I eat five apples.'

In [ ]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [ ]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
a="Error is %d%%" %98
print(a)

Error is 98%

In [5]:
# 정렬과 공백
# %10s는 전체 길이가 10개(공백은 8개라는 뜻)인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬
a="%10s" % "hi"
b="%-10s" % "hi"
x="%-10sjane."%"hi"
y="jane%10s"%"hi"
z="%10s."%"hijane"
e="jane%10s"%"hi"
print(a)
print(b)
print(x)
print(y)
print(z)
print(e)

        hi
hi
hi        jane.
jane        hi
    hijane.
jane        hi

In [18]:
# 소수점 표현하기
x="%0.4f"%3.2134234
y = 3.42134234
e="{0:0.4f}".format(y)
z="{0:10.4f}".format(y)
print(x)
print(y)
print(e)
print(z)

3.2134
3.42134234
3.4213
    3.4213

In [11]:
# format 함수를 사용한 포매팅
x="I eat {0} apples".format(3)
y="I eat {0} apples".format("five")
number = 3
z="I eat {0} apples".format(number)
print(x)
print(y)
print(z)

# 2개 이상의 값 넣기
number = 10
day = "three"
e= "I ate {0} apples. so I was sick for {1} days.".format(number, day)
# 이름으로 넣기
r="I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
# 인덱스와 이름을 혼용해서 넣기
c="I ate {0} apples. so I was sick for {day} days.".format(10, day=3)
print(e)
print(r)
print(c)

I eat 3 apples
I eat five apples
I eat 3 apples
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

In [12]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [13]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [14]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [15]:
# 공백 채우기
x="{0:=^10}".format("hi")
y="{0:!<10}".format("hi")
print(x,y)

====hi==== hi!!!!!!!!

In [19]:
#{또는}문자 표현하기
"{{ and }}".format()

'{ and }'

In [20]:
#f문자열 포매팅
# f 문자열 포매팅은 위와 같이 name, age와 같은 변숫값을 생성한 후에 그 값을 참조할 수 있다.
# 또한 f 문자열 포매팅은 표현식을 지원하기 때문에 다음과 같은 것도 가능
name = '홍길동'
age = 30
x=f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(x)

나의 이름은 홍길동입니다. 나이는 30입니다.

In [21]:
d = {'name':'홍길동', 'age':30}
x=f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'
print(x)

나의 이름은 홍길동입니다. 나이는 30입니다.

In [24]:
# 정렬
x=f'{"hi":<10}'  # 왼쪽 정렬
y=f'{"hi":>10}'  # 오른쪽 정렬
z=f'{"hi":^10}'  # 가운데 정렬
c=f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기
d=f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기
e=3.42134234
f=f'{e:0.4f}'  # 소수점 4자리까지만 표현
g=f'{e:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
print(x)
print(y)
print(z)
print(c)
print(d)
print(f)
print(g)

hi
        hi
    hi
====hi====
hi!!!!!!!!
3.4213
    3.4213

In [25]:
# 문자열 관련 함수(문자열 내장 함수)
# count
a = "hobby"
a.count('b')

2

In [26]:
# 문자열 관련 함수(문자열 내장 함수)
# find
# 문자열이 존재하지 않는다면 -1을 반환
# 파이썬은 숫자를 0부터 세기 때문에 b의 위치는 15가 아닌 14
a = "Python is the best choice"
a.find('b')

14

In [28]:
# 문자열 관련 함수(문자열 내장 함수)
# index
a = "Life is too short"
a.index('t')
# a.index('k')

8

In [29]:
# 문자열 관련 함수(문자열 내장 함수)
# join
",".join('abcd')

'a,b,c,d'

In [30]:
# join 함수의 입력으로 리스트를 사용하는 예
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [32]:
# 문자열 관련 함수(문자열 내장 함수)
# upper(대문자 변환)
# lower(소문자 변환)
a = "hi"
a.upper()

b = "HI"
b.lower()

'HI'

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# 왼쪽 공백 지우기 - lstrip
a = " hi "
a.lstrip()

# 오른쪽 공백 지우기 - rstrip
a= " hi "
a.rstrip()

# 문자열 바꾸기 - replace
a = "Life is too short"
a.replace("Life", "Your leg")

# 문자열 나누기 - split>>> a = "Life is too short"
a.split()
b = "a:b:c:d"
b.split(':')

# 문자열이 알파벳으로만 구성되어 있는지 확인하기 - isalpha
s = "Python"
s.isalpha()

s = "Python3"
s.isalpha()

s = "Hello World"
s.isalpha()

# 문자열이 숫자로만 구성되어 있는지 확인하기 - isdigit
s = "12345"
s.isdigit()

s = "1234a"
s.isdigit()

s = "12 34"
s.isdigit()

# 문자열이 특정 문자(열)로 시작하는지 확인하기 - startswith
s = "Life is too short"
s.startswith("Life")
s.startswith("short")

# 문자열이 특정 문자(열)로 끝나는지 확인하기 - endswith
s = "Life is too short"
s.endswith("short")
s.endswith("too")

In [ ]:
# 리스트 만들들기
# 리스트명 = [요소1, 요소2, 요소3, ...]
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [33]:
# 리스트의 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [34]:
a[0]

1

In [35]:
a[0] + a[2]

4

In [36]:
# a[-1]은 문자열에서와 마찬가지로 리스트 a의 마지막 요솟값
a[-1]

3

In [37]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b [1, 2]
c [3, 4, 5]

# b 변수는 리스트 a의 첫 번째 요소부터 두 번째 요소인 a[1]까지 나타내는 리스트이다.
# 물론 a[2] 값인 3은 포함되지 않는다.
# c라는 변수는 리스트 a의 세 번째 요소부터 끝까지 나타내는 리스트

In [38]:
# 리스트 연산하기
# + (정수와 문자열은 더 할수 없다)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [39]:
# 리스트 연산하기
# * (반복하기)
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [40]:
# 리스트 길이 구하기
a = [1, 2, 3]
len(a)

3

In [41]:
# 리스트 수정 및 삭제
# 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [42]:
# 리스트 수정 및 삭제
# 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [43]:
# 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [44]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [45]:
# 리스트 정렬 - sort
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [46]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [47]:
# 인덱스 반환 - index
a = [1, 2, 3]
a.index(3)
a.index(1)

0

In [48]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
a.insert(0, 4)
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [49]:
# 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a.remove(3)
a

[1, 2, 1, 2]

In [50]:
# 리스트 요소 끄집어 내기 - pop
# 리스트의 맨 마지막 요소를 반환하고 그 요소는 삭제
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [51]:
# pop(x)는 리스트의 x번째 요소를 반환하고 그 요소는 삭제
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [52]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1]
a.count(1)

2

In [53]:
# 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5]) # a += [4, 5]와 동일 -> a = a + [4, 5]와 동일
a
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]