<a href="https://colab.research.google.com/github/gomong0304/Python25Study/blob/master/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=0o177
print(a)

127

In [ ]:
a=0x8ff
b=0xABC
print(b)

2748

In [ ]:
a=3
b=4
a+b
a-b
a*b
a/b

12

In [ ]:
a=3
b=4
a**b

81

In [ ]:
7%3

1

In [ ]:
a=1
a=a+1
print(a)

2

In [ ]:
a=1
a-=1
print(a)
# a = a - 1 과 같음

0

In [ ]:
# 따옴표로 둘러싸여 있으면 모두 문자열
"Hello World"
'Python is fun'
"""Life is too short, You need python"""
'''Life is too short, You need python'''
food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [ ]:
say = '"Python is very easy." he says'
say

'"Python is very easy." he says'

In [ ]:
food = 'Python\'s favorite food is perl'
say = "\"Python is very easy.\" he says"
print(food)
print(say)

Python's favorite food is perl
"Python is very easy." he says

In [ ]:
multiline = "Life is too short\nYou need python"
multiline

'Life is too short\nYou need python'

In [ ]:
multiline = "Life is too short\nYou need python"
print(multiline)

Life is too short
You need python

In [ ]:
# 셀에서 변수만 적으면: Jupyter/REPL이 그 값의 공식 표현(repr) 을 출력합니다.
# 그래서 \n 같은 이스케이프가 그대로 보임 → 'Life is too short\nYou need python'.
# print()를 쓰면: 문자열의 내용(str) 을 표준출력으로 찍습니다. \n이 실제 줄바꿈으로 해석

In [ ]:
multiline='''
  Life is too short
  You need python
  '''
print(multiline)

  Life is too short
  You need python

In [ ]:
# 문자열 연산
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [ ]:
# 문자열 곱하기
a="Python"
a*2

'PythonPython'

In [ ]:
# 문자열 곱하기 응용하기
# multistring.py
print("="*50)
print("My Program")
print("="*50)

==================================================
My Program
==================================================

In [ ]:
# 문자열 길이 구하기
a="Life is too short"
len(a)

17

In [ ]:
# 문자열 인덱싱과 슬라이싱
# 인덱싱(indexing)이란 무엇인가를 '가리킨다', 슬라이싱(slicing)은 무엇인가를 '잘라 낸다'라는 의미
a="Life is too short, You need Python"
print(a[5])
# 파이썬은 0부터 숫자를 센다
print(a[0])
# 문자열을 뒤에서부터 읽기 위해 -(빼기) 기호를 붙인 것
print(a[-5])

y

In [ ]:
# 문자열 스라이싱
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [ ]:
a = "Life is too short, You need Python"
a[0:4]
# 0 <= a < 4

'Life'

In [ ]:
a[0:5]

'Life '

In [ ]:
a[0:2]

'Li'

In [ ]:
a[5:7]

'is'

In [ ]:
a[12:17]

'short'

In [ ]:
a[19:]

'You need Python'

In [ ]:
a[:17]

'Life is too short'

In [ ]:
a[:]

'Life is too short, You need Python'

In [ ]:
# 슬라이싱으로 문자열 나누기
a = "20230331Rainy"
date = a[:8]
weather = a[8:]
year = a[:4]
day = a[4:8]
print(date)
print(weather)
print(year)
print(date)

20230331
Rainy
2023
20230331

In [ ]:
# 문자열 포매팅 -> 문자열 안의 특정한 값을 바꿔야 할 경우가 있을 때 이것을 가능하게 해 주는 것
# %d는 '문자열 포맷 코드'
"I eat %d apples." %3

'I eat 3 apples.'

In [ ]:
# 문자열 바로 대입
# %s는 문자열 포맷 코드 (문자열을 대입할 때는 반드시 큰따옴표나 작은따옴표를 써야한다)
"I eat %s apples." % "five"

'I eat five apples.'

In [ ]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [ ]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for three days.'

In [ ]:
a="Error is %d%%" %98
print(a)

Error is 98%

In [ ]:
# 정렬과 공백
# %10s는 전체 길이가 10개(공백은 8개라는 뜻)인 문자열 공간에서 대입되는 값을 오른쪽으로 정렬
a="%10s" % "hi"
b="%-10s" % "hi"
x="%-10sjane."%"hi"
y="jane%10s"%"hi"
z="%10s."%"hijane"
e="jane%10s"%"hi"
print(a)
print(b)
print(x)
print(y)
print(z)
print(e)

        hi
hi
hi        jane.
jane        hi
    hijane.
jane        hi

In [ ]:
# 소수점 표현하기
x="%0.4f"%3.2134234
y = 3.42134234
e="{0:0.4f}".format(y)
z="{0:10.4f}".format(y)
print(x)
print(y)
print(e)
print(z)

3.2134
3.42134234
3.4213
    3.4213

In [ ]:
# format 함수를 사용한 포매팅
x="I eat {0} apples".format(3)
y="I eat {0} apples".format("five")
number = 3
z="I eat {0} apples".format(number)
print(x)
print(y)
print(z)

# 2개 이상의 값 넣기
number = 10
day = "three"
e= "I ate {0} apples. so I was sick for {1} days.".format(number, day)
# 이름으로 넣기
r="I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)
# 인덱스와 이름을 혼용해서 넣기
c="I ate {0} apples. so I was sick for {day} days.".format(10, day=3)
print(e)
print(r)
print(c)

I eat 3 apples
I eat five apples
I eat 3 apples
I ate 10 apples. so I was sick for three days.
I ate 10 apples. so I was sick for 3 days.
I ate 10 apples. so I was sick for 3 days.

In [ ]:
# 왼쪽 정렬
"{0:<10}".format("hi")

'hi        '

In [ ]:
# 오른쪽 정렬
"{0:>10}".format("hi")

'        hi'

In [ ]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [ ]:
# 공백 채우기
x="{0:=^10}".format("hi")
y="{0:!<10}".format("hi")
print(x,y)

====hi==== hi!!!!!!!!

In [ ]:
#{또는}문자 표현하기
"{{ and }}".format()

'{ and }'

In [ ]:
#f문자열 포매팅
# f 문자열 포매팅은 위와 같이 name, age와 같은 변숫값을 생성한 후에 그 값을 참조할 수 있다.
# 또한 f 문자열 포매팅은 표현식을 지원하기 때문에 다음과 같은 것도 가능
name = '홍길동'
age = 30
x=f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
print(x)

나의 이름은 홍길동입니다. 나이는 30입니다.

In [ ]:
d = {'name':'홍길동', 'age':30}
x=f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'
print(x)

나의 이름은 홍길동입니다. 나이는 30입니다.

In [ ]:
# 정렬
x=f'{"hi":<10}'  # 왼쪽 정렬
y=f'{"hi":>10}'  # 오른쪽 정렬
z=f'{"hi":^10}'  # 가운데 정렬
c=f'{"hi":=^10}'  # 가운데 정렬하고 '=' 문자로 공백 채우기
d=f'{"hi":!<10}'  # 왼쪽 정렬하고 '!' 문자로 공백 채우기
e=3.42134234
f=f'{e:0.4f}'  # 소수점 4자리까지만 표현
g=f'{e:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
print(x)
print(y)
print(z)
print(c)
print(d)
print(f)
print(g)

hi
        hi
    hi
====hi====
hi!!!!!!!!
3.4213
    3.4213

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# count
a = "hobby"
a.count('b')

2

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# find
# 문자열이 존재하지 않는다면 -1을 반환
# 파이썬은 숫자를 0부터 세기 때문에 b의 위치는 15가 아닌 14
a = "Python is the best choice"
a.find('b')

14

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# index
a = "Life is too short"
a.index('t')
# a.index('k')

8

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# join
",".join('abcd')

'a,b,c,d'

In [ ]:
# join 함수의 입력으로 리스트를 사용하는 예
",".join(['a', 'b', 'c', 'd'])

'a,b,c,d'

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# upper(대문자 변환)
# lower(소문자 변환)
a = "hi"
a.upper()

b = "HI"
b.lower()

'HI'

In [ ]:
# 문자열 관련 함수(문자열 내장 함수)
# 왼쪽 공백 지우기 - lstrip
a = " hi "
a.lstrip()

# 오른쪽 공백 지우기 - rstrip
a= " hi "
a.rstrip()

# 문자열 바꾸기 - replace
a = "Life is too short"
a.replace("Life", "Your leg")

# 문자열 나누기 - split>>> a = "Life is too short"
a.split()
b = "a:b:c:d"
b.split(':')

# 문자열이 알파벳으로만 구성되어 있는지 확인하기 - isalpha
s = "Python"
s.isalpha()

s = "Python3"
s.isalpha()

s = "Hello World"
s.isalpha()

# 문자열이 숫자로만 구성되어 있는지 확인하기 - isdigit
s = "12345"
s.isdigit()

s = "1234a"
s.isdigit()

s = "12 34"
s.isdigit()

# 문자열이 특정 문자(열)로 시작하는지 확인하기 - startswith
s = "Life is too short"
s.startswith("Life")
s.startswith("short")

# 문자열이 특정 문자(열)로 끝나는지 확인하기 - endswith
s = "Life is too short"
s.endswith("short")
s.endswith("too")

In [ ]:
# 리스트 만들들기
# 리스트명 = [요소1, 요소2, 요소3, ...]
a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [ ]:
# 리스트의 인덱싱
a = [1, 2, 3]
a

[1, 2, 3]

In [ ]:
a[0]

1

In [ ]:
a[0] + a[2]

4

In [ ]:
# a[-1]은 문자열에서와 마찬가지로 리스트 a의 마지막 요솟값
a[-1]

3

In [ ]:
# 리스트의 슬라이싱
a = [1, 2, 3, 4, 5]
a[0:2]

[1, 2]

In [ ]:
a = [1, 2, 3, 4, 5]
b = a[:2]
c = a[2:]
b [1, 2]
c [3, 4, 5]

# b 변수는 리스트 a의 첫 번째 요소부터 두 번째 요소인 a[1]까지 나타내는 리스트이다.
# 물론 a[2] 값인 3은 포함되지 않는다.
# c라는 변수는 리스트 a의 세 번째 요소부터 끝까지 나타내는 리스트

In [ ]:
# 리스트 연산하기
# + (정수와 문자열은 더 할수 없다)
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 연산하기
# * (반복하기)
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 구하기
a = [1, 2, 3]
len(a)

3

In [ ]:
# 리스트 수정 및 삭제
# 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
# 리스트 수정 및 삭제
# 삭제하기
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [ ]:
# 리스트에 요소 추가하기 - append
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [ ]:
# 리스트 정렬 - sort
a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
# 리스트 뒤집기 - reverse
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [ ]:
# 인덱스 반환 - index
a = [1, 2, 3]
a.index(3)
a.index(1)

0

In [ ]:
# 리스트에 요소 삽입 - insert
a = [1, 2, 3]
a.insert(0, 4)
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

In [ ]:
# 리스트 요소 제거 - remove
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a.remove(3)
a

[1, 2, 1, 2]

In [ ]:
# 리스트 요소 끄집어 내기 - pop
# 리스트의 맨 마지막 요소를 반환하고 그 요소는 삭제
a = [1, 2, 3]
a.pop()
a

[1, 2]

In [ ]:
# pop(x)는 리스트의 x번째 요소를 반환하고 그 요소는 삭제
a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 - count
a = [1, 2, 3, 1]
a.count(1)

2

In [ ]:
# 리스트 확장 - extend
a = [1, 2, 3]
a.extend([4, 5]) # a += [4, 5]와 동일 -> a = a + [4, 5]와 동일
a
b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 튜플 자료형
# 리스트는 [], 튜플은 ()
# 리스트는 요솟값의 생성, 삭제, 수정이 가능하지만, 튜플은 요솟값을 바꿀 수 없다.
t1 = ()
t2 = (1,)  # 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,) 반드시
t3 = (1, 2, 3)
t4 = 1, 2, 3 # 소괄호(())를 생략해도 된다는 점
t5 = ('a', 'b', ('ab', 'cd'))

In [8]:
# 튜플 인덱싱
t1 = (1,2,'a','b')
t1[3]

# 튜플 슬라이싱
t1[1:]

# 튜플 더하기
t2 = (3,4)
t3=t1+t2
t3

# 튜플 곱하기 (반복)
t4=t2*3
t4
# 요솟값 변경할 수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수가 없다.

(3, 4, 3, 4, 3, 4)

In [ ]:
# 딕셔너리 자료형 : 대응 관계
# '연관 배열(associative array)’또는 ‘해시(hash)’
# Key와 Value를 한 쌍으로 가지는 자료형
# 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다.
# {Key1: Value1, Key2: Value2, Key3: Value3, ...} 기본모습
dic = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}

In [17]:
# 딕셔너리 쌍 추가하기
a={1:'a'}
a[2]='b'
a

a['name']='park'
a

a[3]=[1,2,3]
a

# 딕셔너리 요소 삭제하기
del a[1]
a
del a['name']
a

# key를 사용해 value 얻기
grade={'pey':10,'julliet': 99}
grade['pey']
grade['julliet']

a={1:'a',2:'b'}
a[1]
a[2]

'b'

In [ ]:
# 딕셔너리 주의사항 :
# 딕셔너리에서 Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면
# 하나를 제외한 나머지 것들이 모두 무시된다는 점에 주의
# 동일한 Key가 중복으로 존재할 수 없다.
# Key에 리스트는 쓸 수 없다는 것 하지만 튜플은 Key로 쓸 수 있다.
# Key가 변하는(mutable) 값인지, 변하지 않는(immutable) 값인지에 달려 있다.
# Value에는 변하는 값이든, 변하지 않는 값이든 아무 값이나 넣을 수 있다.

In [27]:
# key 리스트 만들기 keys
a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()
for k in a.keys():
  print(k) # 들여쓰기를 하지 않으면 오류가 발생

name
phone
birth

In [24]:
list(a.keys())

['name', 'phone', 'birth']

In [43]:
# value 리스트 만들기 values
a.values()

# Key, Value 쌍 얻기 items
a.items()

# Key: Value 쌍 모두 지우기 clear
a.clear()

# Key로 Value 얻기 get
a={'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')

# None은 ‘거짓’이라는 뜻 (코랩은 기본적으로 none 값 출력 안해서 a.get('nokey')하면 값이 안나옴)
print(a.get('nokey'))

# 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때는 get(x, '디폴트 값')을 사용하면 편리
a.get('nokey', '정보없음')

# 해당 Key가 딕셔너리 안에 있는지 조사하기 in
'name' in a
'email' in a

# Key로 Value 얻기 pop
phone=a.pop('phone')
phone
a
email = a.pop('email', '정보없음')
email
a

None

{'name': 'pey', 'birth': '1118'}

In [47]:
# 집합 자료형
# 중복을 허용하지 않는다.
# 순서가 없다(Unordered)
# 데이터의 중복을 제거하기 위한 필터로 종종 사용

s1=set([1,2,3])
s1

s2=set("hello")
s2

s3={1,2,3}
s3

s4 = {'a', 'b', 'c'}
s4

{'a', 'b', 'c'}

In [51]:
# 리스트나 튜플은 순서가 있기(ordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 있지만
# 집합 자료형은 순서가 없기(unordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 없다.

l1=list(s1)
l1
l1[0]

t1=tuple(s1)
t1
t1[0]

1

In [59]:
# 교집합 구하기
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

s1&s2
s1.intersection(s2)

# 합집합 구하기
s1 | s2
s1.union(s2)

# 차집합 구하기
s1 - s2
s2 - s1
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

In [67]:
# 집합 자료형 관련 함수
# 값 1개 추가하기 add
s1 = set([1, 2, 3])
s1.add(4)
s1

# 값 여러 개 추가하기 update
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

# 특정 값 제거하기 remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

# 특정 값 제거하기 discard
# remove와 비슷하지만 존재하지 않는 값을 제거하려 할 때 오류가 발생하지 않는다.
s1.discard(4)
s1

# 모든 값 제거하기 clear
s1.clear()
s1

set()

In [74]:
# 불자료형 : 참(True)과 거짓(False)을 나타내는 자료형
# type(x)는 x의 자료형을 확인하는 파이썬의 내장 함수
# True: 참을 의미한다.
# False: 거짓을 의미한다.

a = True
b = False
type(a)
type(b)
1==1
2>3

# 자료형의 참과 거짓
# 문자열, 리스트, 튜플, 딕셔너리 등의 값이
# 비어 있으면("", [], (), {}) 거짓이 되고 비어 있지 않으면 참이 된다
# 숫자에서는 그 값이 0일 때 거짓이 된다
# None은 거짓을 뜻한다
# while 조건문:
    #수행할_문장
a = [1, 2, 3, 4]
while a:
  print(a.pop())

if []:
  print("참")
else:
  print("거짓")

if [1, 2, 3]:
  print("참")
else:
  print("거짓")

4
3
2
1
거짓
참

In [76]:
# 불연산
bool('python')
bool('')

False

In [79]:
# 논리 연산자
# and 연산자 : 양쪽 조건이 모두 참일 때만 True를 반환
# or 연산자 : 양쪽 조건 중 하나라도 참이면 True를 반환
# not 연산자 : 조건의 참/거짓을 뒤바꾼다.
x = 5
y = 10
x > 0 and y > 0
x > 10 or y > 5
not (x > y)

True

In [ ]:
# 자료형의 값을 저장하는 공간, 변수
# 변수_이름 = 변수에_저장할_값
# 변수명 규칙
# 영문자, 숫자, 언더스코어(_)만 사용할 수 있다.
# 숫자로 시작할 수 없다.
# 예약어는 사용할 수 없다.
# 대소문자를 구분한다.

In [ ]:
# 파이썬 예약어(많음;;)

In [ ]:
# 변수명 권장 사항
# 의미가 명확한 이름을 사용한다.
# snake_case (단어 사이에 언더스코어)를 권장한다.
# 너무 짧거나 긴 이름은 피한다.

In [ ]:
# 변수란?
# 변수는 객체를 가리키는 것이라고도 말할 수 있다.
# 객체란 우리가 지금까지 보아 온 자료형의 데이터(값)와 같은 것을 의미하는 말
# id는 변수가 가리키고 있는 객체의 주소 값을 반환하는 파이썬의 내장 함수

In [80]:
# 리스트를 복사하고자 할 때
a = [1, 2, 3]
b = a
a is b

True

In [84]:
# [:] 이용하기
a = [1, 2, 3]
b = a[:]
a[1] = 4
a
b

# copy 모듈 이용하기
from copy import copy
a = [1, 2, 3]
b = copy(a)
b is a

False

In [86]:
# 변수를 만드는 여러 가지 방법
a, b = ('python', 'life')
(a, b) = 'python', 'life'
[a, b] = ['python', 'life']
a = b = 'python'

a = 3
b = 5
a, b = b, a # 값이 서로 뒤바뀜
a
b

3

In [87]:
# 제어문 (if, while, for)
# if문
# 기본구조
# 조건문 다음에 콜론(:)을 잊지 말자!
# if 조건문에서 ‘조건문’이란 참과 거짓을 판단하는 문장을 말한다.
# if 조건문:
#    수행할_문장1
#    수행할_문장2
# else:
#    수행할_문장A
#    수행할_문장B

money = True
if money:
  print("택시를 타고 가라")
else:
  print("걸어 가라")

택시를 타고 가라

In [88]:
# 조건문에서의 and, or, not
# 돈이 3000원 이상 있거나 카드가 있다면 택시를 타고 가고, 그렇지 않으면 걸어가라.
money=2000
card=True
if money>=3000 or card:
  print("택시타셈")
else:
  print("걸어가셈")

택시타셈

In [89]:
# 조건문에서의 in, not in
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  print("택시")
else:
  print("도보")

택시

In [90]:
# 조건문에서 아무 일도 하지 않게 설정 -> 결과값 안나옴
pocket = ['paper', 'cellphone', 'money']
if 'money' in pocket:
  pass
else:
  print("도보")

In [92]:
# 다양한 조건을 판단하는 elif
# 주머니에 돈이 있으면 택시를 타고 가고,
# 주머니에 돈은 없지만 카드가 있으면 택시를 타고 가고,
# 돈도 없고 카드도 없으면 걸어가라.
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시")
else:
  if card:
    print("택시를 타고가라")
  else:
    print("걸어가라")

택시를 타고가라

In [95]:
# elif는 개수에 제한 없이 사용할 수 있다.
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
  print("택시")
elif card:
  print("택시")
else:
  print("걸어가라")

택시

In [97]:
# 비교 연산자의 연쇄 사용
x=5
1<x<10
10<=x<=20

False

In [ ]:
# 변수 = 참일_때_값 if 조건 else 거짓일_때_값
age = 19
status = "성인" if age >= 18 else "미성년"
print(status)

temperature = 25
weather = "따뜻함" if temperature > 20 else "추움"
print(weather)

money = 1500
transportation = "버스" if money >= 1000 else "도보"
print(transportation)

In [98]:
# while문 반복문
# while 조건문:
#    수행할_문장1
#    수행할_문장2
#    수행할_문장3

treeHit = 0
while treeHit < 10:
  treeHit = treeHit +1
print("나무를 %d번 찍었습니다." % treeHit)
if treeHit == 10:
  print("나무 넘어갑니다.")

나무를 10번 찍었습니다.
나무 넘어갑니다.

In [99]:
coffee = 10
money = 300
while money:
     print("돈을 받았으니 커피를 줍니다.")
     coffee = coffee -1
     print("남은 커피의 양은 %d개입니다." % coffee)
     if coffee == 0:
         print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
         break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [ ]:
coffee = 10
while True:
    money = int("돈을 넣어 주세요: ")
    if money == 300:
        print("커피를 줍니다.")
        coffee = coffee -1
    elif money > 300:
        print("거스름돈 %d를 주고 커피를 줍니다." % (money -300))
        coffee = coffee -1
    else:
        print("돈을 다시 돌려주고 커피를 주지 않습니다.")
        print("남은 커피의 양은 %d개 입니다." % coffee)
    if coffee == 0:
        print("커피가 다 떨어졌습니다. 판매를 중지 합니다.")
        break

In [103]:
# while 문의 맨 처음으로 돌아가기
a=0
while a<10:
  a=a+1
  if a%2 == 0:continue #나머지가 0이면 while 처음으로 되돌아감
  print(a)

1
3
5
7
9

In [106]:
# 무한 루프
# while 문의 조건문이 True이므로 항상 참이 된다.
# 따라서 while 문 안에 있는 문장들은 무한히 수행될 것이다.

# while-else 문
count = 0
while count < 3:
  # if count==2:
  #  break
  print(f"카운트: {count}")
  count += 1
else:
  print("while 문이 정상 종료되었습니다.")

카운트: 0
카운트: 1
카운트: 2
while 문이 정상 종료되었습니다.

In [107]:
# 중첩된 while 문
# while 문 안에 또 다른 while 문을 사용할 수 있다.
# 이를 중첩된 while 문이라고 한다
i = 1
while i <= 3:
     j = 1
     while j <= 3:
         print(f"i={i}, j={j}")
         j += 1
     i += 1

i=1, j=1
i=1, j=2
i=1, j=3
i=2, j=1
i=2, j=2
i=2, j=3
i=3, j=1
i=3, j=2
i=3, j=3

In [108]:
# for문의 기본 구조
# for 변수 in 리스트(또는 튜플, 문자열):
#    수행할_문장1
#    수행할_문장2

test_list = ['one', 'two', 'three']
for i in test_list:
     print(i)

one
two
three

In [109]:
a = [(1,2), (3,4), (5,6)]
for (first, last) in a:
     print(first + last)

3
7
11

In [114]:
# 총 5명의 학생이 시험을 보았는데 시험 점수가 60점 이상이면 합격이고 그렇지 않으면 불합격이다.
# 합격인지, 불합격인지 결과를 보여 주시오.
scores=[90,80,50,55,65]

student = 0
for score in scores:
  student = student+1
  if score>=60:
    print("%d번 학생 합격" % student)
  else:
      print("%d번 학생 불합격" % student)

1번 학생 합격
2번 학생 합격
3번 학생 불합격
4번 학생 불합격
5번 학생 합격

In [115]:
# for 문과 continue 문
# for 문 안의 문장을 수행하는 도중 continue 문을 만나면 for 문의 처음으로 돌아가게 된다.
scores=[90,80,50,55,65]

student = 0
for score in scores:
  student = student+1
  if score<60:
    continue
  print("%d번 학생 합격" % student)

1번 학생 합격
2번 학생 합격
5번 학생 합격

In [117]:
# for 문과 함께 자주 사용하는 range 함수
# 시작 숫자와 끝 숫자를 지정하려면
# range(시작_숫자, 끝_숫자) 형태를 사용하는데, 이때 끝 숫자는 포함되지 않는다.
add = 0
for i in range(1, 11):
     add = add + i
print(add)

55

In [118]:
# len는 리스트 안의 요소 개수를 리턴하는 함수
marks = [90, 25, 67, 45, 80]
for number in range(len(marks)):
    if marks[number] < 60:
        continue
    print("%d번 학생 축하합니다. 합격입니다." % (number+1))

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [120]:
# for와 range를 이용한 구구단
# end 매개변수에는 줄바꿈 문자(\n)가 기본값으로 설정
for i in range(1,10):
  for j in range(1,10):
    print(i*j, end="")
  print('')

123456789
24681012141618
369121518212427
4812162024283236
51015202530354045
61218243036424854
71421283542495663
81624324048566472
91827364554637281

In [121]:
# 리스트 컴프리헨션 사용하기(list comprehension)
# [표현식 for 항목 in 반복_가능_객체 if 조건문]
# [표현식 for 항목1 in 반복_가능_객체1 if 조건문1
#      for 항목2 in 반복_가능_객체2 if 조건문2
#      for 항목n in 반복_가능_객체n if 조건문n]
a = [1,2,3,4]
result = []
for num in a:
  result.append(num*3)
print(result)

[3, 6, 9, 12]

In [122]:
a = [1,2,3,4]
result = [num * 3 for num in a if num % 2 == 0]
print(result)

[6, 12]

In [124]:
result = [x*y for x in range(2,10)
              for y in range(1,10)]
print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27, 4, 8, 12, 16, 20, 24, 28, 32, 36, 5, 10, 15, 20, 25, 30, 35, 40, 45, 6, 12, 18, 24, 30, 36, 42, 48, 54, 7, 14, 21, 28, 35, 42, 49, 56, 63, 8, 16, 24, 32, 40, 48, 56, 64, 72, 9, 18, 27, 36, 45, 54, 63, 72, 81]

In [125]:
# for 문과 break 문
for i in range(10):
     if i == 5:
         break
     print(i)

0
1
2
3
4

In [126]:
# for-else 문
for i in range(5):
     print(i)
else:
     print("for 문이 정상 종료되었습니다.")

0
1
2
3
4
for 문이 정상 종료되었습니다.

In [129]:
# enumerate 함수 활용하기
# 인덱스 번호를 자동으로 생성
fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits):
     print(f"{i}: {fruit}")

fruits = ['apple', 'banana', 'orange']
for i, fruit in enumerate(fruits, 1):  # 1부터 시작
     print(f"{i}: {fruit}")

0: apple
1: banana
2: orange
1: apple
2: banana
3: orange

In [130]:
# zip 함수로 여러 리스트 함께 순회하기
names = ['홍길동', '김철수', '이영희']
scores = [85, 92, 78]
for name, score in zip(names, scores):
     print(f"{name}: {score}점")

names = ['홍길동', '김철수', '이영희']
korean = [85, 92, 78]
english = [90, 88, 95]
for name, kor, eng in zip(names, korean, english):
     print(f"{name}: 국어 {kor}점, 영어 {eng}점")

홍길동: 85점
김철수: 92점
이영희: 78점

In [1]:
# 파이썬 함수의 구조
# def 함수_이름(매개변수):
#    수행할_문장1
#    수행할_문장2
# 매개변수는 함수에 입력으로 전달된 값을 받는 변수, 인수는 함수를 호출할 때 전달하는 입력값
def add(a, b):
     return a+b
a=3
b=4
c=add(a,b)
print(c)

7

In [18]:
# 함수의 형태
# 입력값 o 반환값 o
def add(a, b):
    result = a + b
    return result

c=add(4,5)
print(c)

# 입력값 x 반환값 o
def say():
     return 'Hi'
a=say()
print(a)

# 입력값 o 반환값 x
def add(a, b):
     print("%d, %d의 합은 %d입니다." % (a, b, a+b))
add(9,11)

# 입력값 x 반환값 x
def say():
     print('Hi')
say()

9
Hi
9, 11의 합은 20입니다.
Hi

In [19]:
# 매개변수 지정
def sub(a, b):
     return a - b

result = sub(a=7, b=3)  # a에 7, b에 3을 전달 순서 상관 없음 a=7, b=3 -> 키워드 인수
print(result)

4

In [23]:
# 여러개의 매개변수
# def 함수_이름(*매개변수):
#     수행할_문장

# 매개변수 1개
def add_many(*args):
     result = 0
     for i in args:
         result = result + i   # *args에 입력받은 모든 값을 더한다.
     return result
result=add_many(4,9,8)
print(result)

# 매개변수 2개
def add_mul(choice, *args):
     if choice == "add":   # 매개변수 choice에 "add"를 입력받았을 때
              result = 0
              for i in args:
                result = result + i
     elif choice == "mul":   # 매개변수 choice에 "mul"을 입력받았을 때
          result = 1
          for i in args:
             result = result * i
     return result
result2=add_mul("mul",5,9,8)
print(result2)

21
360

In [24]:
# 키워드 매개변수, kwargs
# 키워드=값 형태로 전달하는 매개변수, 매개변수 앞에 별 2개(**)
def print_kwargs(**kwargs):
     print(kwargs)

print_kwargs(a=1)
print_kwargs(name='foo', age=3)
print_kwargs(name='홍길동', age=25, city='서울', job='개발자')

{'a': 1}
{'name': 'foo', 'age': 3}
{'name': '홍길동', 'age': 25, 'city': '서울', 'job': '개발자'}

In [25]:
def create_profile(**info):
     print("=== 프로필 정보 ===")
     for key, value in info.items():
      print(f"{key}: {value}")
create_profile(이름='김철수', 나이=30, 직업='프로그래머', 취미='독서')

=== 프로필 정보 ===
이름: 김철수
나이: 30
직업: 프로그래머
취미: 독서

In [27]:
def mixed_function(name, *args, **kwargs):
     print("=== 프로필 정보 ===")
     print(f"이름: {name}")
     print(f"추가 인수들: {args}")
     print(f"키워드 인수들: {kwargs}")

mixed_function('홍길동', 1, 2, 3, age=25, city='서울')

=== 프로필 정보 ===
이름: 홍길동
추가 인수들: (1, 2, 3)
키워드 인수들: {'age': 25, 'city': '서울'}

In [30]:
# 함수의 반환값은 언제나 하나
def add_and_mul(a,b):
     return a+b, a*b
result = add_and_mul(3,4)
print(result)

(7, 12)

In [34]:
# return의 쓰임새
def say_nick(nick):
     if nick == "바보":
         return
     print("나의 별명은 %s 입니다." % nick)

say_nick('바보')

In [39]:
# 매개변수에 초깃값 미리 설정
# 초기화하고 싶은 매개변수는 항상 뒤쪽에 놓아야 한다
def say_myself(name, age, man=True):
    print("나의 이름은 %s 입니다." % name)
    print("나이는 %d살입니다." % age)
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")
say_myself("응용",20,False)

나의 이름은 응용 입니다.
나이는 20살입니다.
여자입니다.

In [62]:
# 함수 안에서 선언한 변수의 효력 범위
a = 1                     # 전역 변수 a = 1
def vartest(a):           # 함수 정의(아직 실행 아님)
    a = a + 1             # 지역 변수 a를 1 증가 (전역 a와는 별개)

vartest(a)                # 호출: 값 1이 매개변수 a로 복사되어 지역 a=2가 됨(함수 끝)
print(a)                  # 전역 a는 그대로 1 → 출력: 1


c=a+1
print(c)

1
2

In [ ]:
# 함수 안에서 함수 밖의 변수를 변경하는 방법
# return 사용하기
a = 1                    # 전역 a = 1
def vartest(a):          # 함수 정의
    a = a + 1            # 지역 a = 2
    return a             # 2 반환

a = vartest(a)           # ← 반환값 2를 전역 이름 a에 재바인딩
print(a)                 # 2

# global 명령어 사용하기 근데 사용안하는 편이 좋다
# 함수는 독립적으로 존재하는 것이 좋기 때문
a = 1                  # 전역 변수 a를 1로 초기화 (모듈 전체에서 참조됨)

def vartest():         # 매개변수 없는 함수 정의
    global a           # 이 블록에서 'a'는 지역변수가 아니라 전역변수임을 선언
    a = a + 1          # 전역 변수 a 값을 1 증가(재대입). 전역 상태가 직접 변경됨.

vartest()              # 함수 호출 → 전역 a가 2가 됨
print(a)               # 2 출력

In [ ]:
# 리스트나 딕셔너리는 함수에서 변경 가능하다
# 변경 가능한(mutable) 자료형이기 때문

In [ ]:
# lambda 예약어
# lambda로 만든 함수는 return 명령어가 없어도 표현식의 결괏값을 반환
add = lambda a, b: a+b
result = add(3, 4)
print(result)

In [63]:
# 함수의 독스트링(Docstring)
# 함수에 대한 설명을 문서화하는 방법
def add(a, b):
    """
    두 숫자를 더하는 함수

    Parameters:
    a (int, float): 첫 번째 숫자
    b (int, float): 두 번째 숫자

    Returns:
    int, float: 두 숫자의 합
    """
    return a + b

# 독스트링 확인하기
print(add.__doc__)

    두 숫자를 더하는 함수

    Parameters:
    a (int, float): 첫 번째 숫자
    b (int, float): 두 번째 숫자

    Returns:
    int, float: 두 숫자의 합

In [66]:
# 사용자 입출력
# 게시판에 글을 작성한 후 [확인] 버튼을 눌러야만(입력)
# 우리가 작성한 글이 게시판에 올라가는(출력)

age = int(input("나이를 입력하세요: "))
print(type(age))

나이를 입력하세요: 25
<class 'int'>

In [68]:
# print 자세히 알기
# 큰따옴표로 둘러싸인 문자열은 + 연산과 동일
print("life" "is" "too short")
print("life"+"is"+"too short")

# 문자열 띄어쓰기는 쉼표
print("life", "is", "too short")

# sep 매개변수로 구분자 설정, 출력할 값들 사이의 구분자를 지정
print("2025", "08", "17", sep="-")
print("점프", "투", "파이썬", sep=" TO ")

lifeistoo short
lifeistoo short
life is too short
2025-08-17
점프 TO 투 TO 파이썬

In [70]:
# 한 줄에 결괏값 출력 매개변수 end를 사용해 끝 문자를 지정

for i in range(11):
     print(i, end=' ')

0 1 2 3 4 5 6 7 8 9 10